name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  id-token: write  # Required for OIDC (NPM)
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Create Release
        uses: softprops/action-gh-release@v2

  publish:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install bun
        uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        run: bun ci
      - name: Run tests
        run: bun test
      - name: Publish to NPM
        run: bunx npm@latest publish # Pre script runs lint and build, no need to explicitly run them here
